<!--<md-toolbar [color]="">-->
  <!--<span>My Application Title</span>-->
<!--</md-toolbar>-->

<!--<button md-fab>FLAT</button>-->
<!--<button md-raised-button>RAISED</button>-->

<!--<md-card>-->
  <!--<md-card-subtitle>Subtitle first</md-card-subtitle>-->
  <!--<md-card-title>Card with title</md-card-title>-->
  <!--<md-card-content>-->
    <!--<p>This is supporting text.</p>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do-->
      <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
    <!--<button md-button>LIKE</button>-->
    <!--<button md-button>SHARE</button>-->
  <!--</md-card-actions>-->
<!--</md-card>-->



<!--<md-menu #appMenu="mdMenu">-->
  <!--<button md-menu-item> Settings </button>-->
  <!--<button md-menu-item> Help </button>-->
<!--</md-menu>-->

<!--<div class="example-container">-->
  <!--<h3>Normal Buttons</h3>-->
  <!--<div class="button-row">-->
    <!--<button md-button>Flat button</button>-->
    <!--<button md-raised-button>Raised button</button>-->
    <!--<button md-fab><md-icon>check</md-icon></button>-->
    <!--<button md-mini-fab><md-icon>check</md-icon></button>-->
  <!--</div>-->

  <!--<h3>Link Buttons</h3>-->
  <!--<div class="example-button-row">-->
    <!--<a md-button routerLink=".">Flat button</a>-->
    <!--<a md-raised-button routerLink=".">Raised button</a>-->
    <!--<a md-fab routerLink="."><md-icon>check</md-icon></a>-->
    <!--<a md-mini-fab routerLink="."><md-icon>check</md-icon></a>-->
  <!--</div>-->
<!--</div>-->

<!--<md-select placeholder="State" [(ngModel)]="myState">-->
  <!--<md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>-->
<!--</md-select>-->


<!--<md-tab-group>-->
  <!--<md-tab label="Tab 1">Content 1</md-tab>-->
  <!--<md-tab label="Tab 2">Content 2</md-tab>-->
<!--</md-tab-group>-->


<!--<md-progress-bar mode="indeterminate"></md-progress-bar>-->

<!--<md-input-container>-->
  <!--<input mdInput placeholder="Favorite food" value="Sushi">-->
<!--</md-input-container>-->


<button md-button (click)="openDialog()">Open dialog</button>



