<p>
  {{"Translate"| translate}} <a [routerLink]="hrefTo"> <input type="button"  value="{{translateTo | translate}}"></a>
</p>

<div>{{ 'Hello' | translate:param }}{{ 'World' | translate }}</div>



<p style="line-height: 3em;">

  {{"Computer software, or simply software, is that part of a computer system that consists of encoded information or computer instructions, in contrast to the physical hardware from which the system is built." | translate}}
</p>
<br>
<div [innerHTML]="'Test' | translate"></div>
